.banner {
  background-image: url("https://images.unsplash.com/photo-1516110833967-0b5716ca1387?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  background-size: cover;
  color: white;
  text-shadow: -2px -2px 1px #000;
  padding: 150px 0
}
.banner h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Arvo', serif;
  text-align: center;
}
.banner p {
  font-size: 22px;
  text-align: center;
}
body {
  color: #282A3A;
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
  text-align: justify;
  background-color: beige;
}

ul {
  list-style: none;
  padding: 0;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
  color: #12131a;
}
.container {
  width: 1200px;
  margin: 50px auto;
}

a {
  text-align: center;
}

.button-end {
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.button-end:hover {
  background-color: #3e8e41
}

@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
